# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
*.fasta
*.fastq
*.bam
*.sam
*.vcf
*.bed
*.gtf
*.gff

# Large binary files
*.pdf
*.gz
*.zip

# Temporary files
*.tmp
*.swp

# Editor files
.vscode/
.idea/

# Output directories
output/
results/

# Specific folders
input-data/MH/NEW-ssGSEA/attempt1-mixedYSJ-beforeb1b2separateAnalysis/GSVA_code/

input-data/MH/NEW-ssGSEA/attempt1-mixedYSJ-beforeb1b2separateAnalysis/MH_ssGSEA/MyBrCa_Batch1_and_2_counts_voomed_copy.txt

/home/suffian/repos/CRM-neoantigen-on-immune-scores-nb/output-data/plots/